﻿

@{
    /**/
    ViewBag.Title = "Npos使用者登入";
}

@model  WebApplication1.Models.Login.Login


<br>
<h3>Npos 管理系統</h3>

@if (ViewBag.ResultMessage != null)//判斷如果有訊息，則顯示。
{
    //@Html.Label("info", (string)ViewBag.ResultMessage, new { @class = "text-info" })
    <script type="text/javascript">
            var message = @Html.Raw(Json.Encode(ViewBag.ResultMessage));
            alert(message);
    </script>
}

@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <hr />
        <div class="" style="padding-top: 10px">
            <div class="column">
                @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br></br>
        <div class="" style="padding-top: 10px">
            <div class="column">
                @Html.LabelFor(model => model.UserPwd, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserPwd, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserPwd, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="" style="padding-left: 40px;padding-top: 10px">
            @Html.ValidationMessage("password", null, new { @class = "text-danger", style = "margin-left:10px;" })
        </div>
        <form>
            <div style="padding-right: 70px; padding-top: 10px">
                <input id="Submit" type="submit" value="確定" style="padding: 5px 20px;margin-left:10px;">
            </div>
        </form>

    </div>
}


