﻿@model WebApplication1.Models.Material.Material

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using (Html.BeginForm("Create", "Material", new { Type = ViewBag.Type }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @if (ViewBag.Type == 0)
    {
        <h2>商品主檔資料新增作業</h2>
    }
    else
    {
        <h2>門市商品資料新增作業</h2>
    }
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @if (ViewBag.Type == 1)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.StoreID, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StoreID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StoreID, "", new { @class = "text-danger" })
            </div>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(model => model.MaterialID, htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MaterialID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaterialID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Category01, htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Category01, new SelectList(ViewBag.CategoryList, "categoryId", "categoryName"), htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Category02, htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Category02, new SelectList(ViewBag.CategoryList2, "categoryId", "categoryName"), htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SupplierID1, htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.SupplierID1, new SelectList(ViewBag.SupplierList, "SupplierID1", "FullName"), htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaterialNmae, htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MaterialNmae, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaterialNmae, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SalePrice, htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SalePrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SalePrice, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="存檔" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("返回清單", "Index", new { type = 0 })
</div>
